body{
    background-color: rgb(241, 241, 241);
}
.rood{
    background-color: red;
}

.Home-button {
    color: red;
    text-decoration: none;
    margin-left: 13vw;
    margin-top: -5vw;
}

.Home-button:hover {
    color: black;
}