@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
    background: #cecece;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #e8e7e8;
    box-shadow: 0 0 10px rgb(0, 0, 0, .4);
    z-index: 100;
}
.header a span{
    color: black;
}

header .navbar a{
    color: black;
    text-decoration: none;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar a.active{
    background: #ef5737;
}

.activity-section i{
    color: #222;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

.activity-section i:hover{
    background: #ef5737;
    color: #222;
}

.btn{
    height: 40px;
    width: 140px;
    border-radius: 8px;
    background: black;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 600;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #e8e7e8;
    height: 100%;
    width: 00%;
    z-index: -1;
    transition: .3s;
}

.btn:hover:before{
    width: 100%;   
}

.btn:hover{
    color: #ef5737;
}
.btn-explore{
    background: transparent;
    color: #222;
    margin-left: 20px;
}
.btn-explore::before{
    background: #ef5737;
}

.btn-explore:hover{
    color: #fff;
}

section{
    padding: 10rem 9% 2rem;
    background: #e8e7e8;
}

.home-section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-section .text-content h5{
    font-size: 20px;
    color: #ef5737;
    font-weight: 500;
}

.home-section .text-content h2{
    font-size: 75px;
    color: black;
    font-weight: 600;
}

.home-section .text-content p{
    max-width: 600px;
    color: #222;
    font-weight: 500;
}

.home-section .text-content .btn{
    margin-top: 20px;

}
.home-section .image-section img{
    width: 30vw;
    animation: Bounce 4s ease forwards infinite ;
}

@keyframes Bounce{
    0%{
        transform: translateY(-24px);
    }
    50%{
        transform: translateY(-0px);
    }
    100%{
        transform: translateY(-24px);
    }
}

.home-section .image-section .shadow{
    background:rgb(0, 0, 0, .4);
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(0, 0, 0, .4);
    filter: blur(5px);
    width: 30vw;
    animation: BounceIn 4s ease forwards infinite;
}

@keyframes BounceIn{
    0%{
        transform: translateY(24px) scale(.5);
    }
    50%{
        transform: translateY(-0px) scale(1);
    }
    100%{
        transform: translateY(24px) scale(.5);
    }
}



/*  Recepten */
.Recept-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;   
    width: 100%;
    height: 100%;
    padding: 10rem 0% 3rem;
}

.heading{
    font-size: 36px;
    text-align: center;
}

.heading span {
    color: #ef5737;
}

.receptGallery{
    display: flex;
    justify-content: center;
    width: 100%;

}
.receptGallery .food-image{
    height: 300px;
    width: 280px;
    padding: 0 25px 0 0;
    box-shadow: 0 0 3px #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    margin-left: 40px;
    
}

.food-image img{
    height: 230px;
    position: absolute;
    top: -45%;
}

.inner-text{
    margin-top: 110px;
    text-align: center;    
}

.inner-text h2{
    font-size: 25px;
}

.inner-text p{
    text-align: center;
    font-size: 12px;
    max-width: 200px;
    color: #222;
}

.price-section{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.price-section span{
    height: 35px;
    width: 90px;
    border: 2px solid #ef5737;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

.price-section span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #ef5737;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .3s;
}

.price-section span:hover{
    color: #222;
}

.price-section span:hover:before{
    width: 100%;
}

.price-section span:nth-child(2){
    background: #ef5737;
    color: #222;
}


.price-section span:nth-child(2):hover{
    color: #ef5737;
}
.price-section span:nth-child(2)::before{
    background: #e8e7e8;
    color: #ef5737;
}

.winkel-setion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    flex-direction: column;
}

.boek-image{
    height: 420px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    cursor: pointer;
}

.boek-image .image-1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c1c1c1;
    position: relative;
    border-radius: 20px;
    border: 10px solid #ef5737;
}

.image-1 img{
    height: 380px;
    position: absolute;
}

.text-content-1{
    height: 100%;
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient( 
        rgba(0,0,0, .3),#c1c1c1
     ) ;
}


/*  KookBoeken */
  .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
  }
  
  .section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
  }


.kookboeken .kookboek {
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
    transition: 0.3s;
  }
  .kookboeken .kookboek .kookboek-info {
    padding: 10px 15px 20px 15px;
  }
  
  .kookboeken .kookboek .kookboek-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    /* color: var(--color-secondary); */
  }
  
  .kookboeken .kookboek .kookboek-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 125, 125, 0.7);
  }
  
  .kookboeken .kookboek .kookboek-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: rgba(255, 64, 64, 0.7);
  }
  
  .kookboeken .kookboek:hover {
    transform: scale(1.05);
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.15);
  }

  /*  Review */

  .Review-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .Review-section .swiper{
    height: 100%;
    width: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .review-image-section{
    height: 354px;
    display: flex;
    margin-left: 35px;
    justify-content: center;
    align-items: center;
    padding: 10rem 0% 3rem;
  }
  .review-image-section img{
    height: 354px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .review-image-section .review-text{
    margin-left: 35px;
  } 

  .review-text h2{
    font-size: 30px;
    color: #444;
  }

  .review-text p{
    margin-top: 15px;
    font-size: 13px;
    color: #555;
    max-width: 750px;
  }

  .review-text h5{
    margin-top: 10px;
    font-size: 15px;
    color: #444;
  }

  .star i{
    margin-top: 10px;
    color: yellow;
    font-size: 15px;
  }

  footer {
    height: 20vh;
    background: #111;
    padding: 20px 60px;
  }

  .innerItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .innerItem h2{
    color: #e8e7e8;
  }
  .innerItem .textbar a{
    text-decoration: none;
    color: #c1c1c1;
    margin-left: 35px;
  }

  .innerItem .footer-icon i{
    padding: 5px;
    font-size: 25px;
    margin-left: 20px;
    background: #ef5737;
    border-radius: 50%;
    color: #111;
  }

  footer p{
    font-size: 16px;
    color: #c1c1c1;
    margin: 20px auto;
    font-weight: 500;
    text-align: center;
  }
